* {
      box-sizing: border-box;
}

body {
      font-family: Arial, Helvetica, sans-serif;
}

h1 {
      text-align: center;
      margin-bottom: 10px;
      color: #fff;
      width: 200px;
      position: relative;
      right: 100px;
}

form {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
}

input {
      width: 321px;
      height: 37px;
      border: 2px solid #007FFF;
      border-radius: 10px;
      outline: none;
}

input[type=text] {
      padding: 17px;
}

input:focus {
      border: 2px solid red;
}

button {

      color: #fff;
      font-weight: 700;
      border: none;
      background: #0071E3;
      border-radius: 10px;
      cursor: pointer;
}


.btn_wrap {
      display: flex;
      justify-content: end;
      padding-left: 200px;
      transform: translate(0px, -19px);
}

.Create_Todo {
      width: 200px;
      height: 39px;
      position: absolute;
}

button:focus {
      background-color: green;
}

.form_todo {
      z-index: 90;
      position: absolute;
      top: 10px;
      left: 50%;
      right: 50%;
      margin-top: 20px;
}

#test {
      position: absolute;
      width: 120px;
      height: 50px;
      background-color: white;
      color: black;
      z-index: 10000;
}

.chek {
      position: absolute;
      left: 240px;
}


.add_todo_block {
      display: flex;
      justify-content: center;
      gap: 60px;
      max-width: 100px;
      margin-top: 70px;
}

.wrapper_box {
      width: 400px;
      height: 200px;
      background-color: #00000029;
      backdrop-filter: blur(90px);
      border-radius: 10px;
}

.text {
      color: #fff;
      margin: 20px 70px;
      padding: 30px;
}

.h3_text {
      color: #fff;
      padding: 30px;
}

body {
      margin: 0px;
      background: rgb(59, 73, 78);
      width: 100vw;
      height: 100vh;
      overflow: hidden;
}

body:before {
      content: '';
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      background: linear-gradient(0deg, rgba(5, 16, 31, 1) 0%, rgba(35, 51, 67, 1) 100%);
}

#mainstage {
      overflow: hidden;
      position: absolute;
}

#opacityOverlay {
      position: absolute;
      display: block;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: 10;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.8785889355742297) 0%, rgba(0, 0, 0, 0.12592787114845936) 50%);
}

@keyframes starShine {
      0% {
            opacity: 0.5
      }

      25% {
            opacity: 0.2
      }

      50% {
            opacity: 0.8
      }

      75% {
            opacity: 0.1
      }

      100% {
            opacity: 0.5
      }
}

.plancton {
      box-sizing: border-box;
      box-shadow: 0px 0px 20px 1px rgba(255, 255, 255, 0.7);
}